<div id="content">
  <h3 style="text-align: center;">List of All Available Posts</h3><hr>

  <table border=".5">
    <tr>
      <th>Tilte</th>
      <th>Content</th>
      <!-- <th>Image</th> -->
      <th>Author</th>
      <th>Date</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
    <?php foreach($data as $posts){
    ?>
    <tr>
      <td><?php echo $posts['title']; ?></td>
      <td><?php echo $posts['content']; ?></td>
      <!-- <td><?php echo $posts['image']; ?></td> -->
      <td><?php echo $posts["author"]; ?></td>
      <td><?php echo $posts['date']; ?></td>
      <td><a href="index.php?section=blog&action=update&id=<?php echo $posts['id']; ?>">Update Info</a></td>
      <td><a href="index.php?section=blog&action=delete&id=<?php echo $posts['id']; ?>">Delete File</a></td>
    </tr>
  <?php
  }
  ?>
  </table>
</div>
